.contact__mainContainer {
    background-color: #007785;
    min-height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
    .contact__form {
        display: grid;
        justify-content: center;
        align-items: center;
        h2 {
            text-align: center;
            margin-bottom: 1rem;  
        }
        input {
            height: 2.5rem;
            padding: 1rem;
            outline: none;
            margin-bottom: 1rem; 
        }
        textarea {
            padding: 1rem;
            resize: none;
            margin-bottom: 1rem; 
        }
        .contact__form--buttonsContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            button {
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                text-transform: uppercase;
                button[type = "submit"] {
                    background-color: rgb(0, 0, 0);
                    color: white;
                    transition: all .5s ease-in;
                    &:hover {
                        background-color: white;
                        color: rgb(8, 8, 8);
                        border: 2px solid rgb(14, 13, 13);
                        cursor: pointer;
                        font-weight: bold;
                    }
                }
                button[type = "reset"] {
                    background-color: white;
                    color: rgb(7, 7, 7);
                    border: 2px solid rgb(8, 8, 8);
                    transition: all .5s ease-in;
                    &:hover {
                        background-color: rgb(7, 7, 7);
                        color: white;
                        cursor: pointer;
                    }
                } 
            }
        }
      }
  }